<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NAZKMiner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BEF9B2A1EB2F01900D85720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BEF9B461EB2F01A00D85720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BEF9B511EB2F01A00D85720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
